div.row.footer {
    bottom: 0;
    width: 100%;
    // position: fixed;
    height: 9%;
    align-content: center;
    background: #F0F0F3;
    border-radius: 15px;
    box-shadow: 20px 20px 60px #cccccf,
        -20px -20px 60px #ffffff;
}